# Ignore everything
*

# But not these files...
!*.sh
!*.pl
!*.py
!*.R
!*.Rmd
!*.nb.html
!*.html
!*.ipynb
!*.md
!*.png
!*.jpg
!README.md
!.gitignore
# etc...

# ...even if they are in subdirectories
!*/
.Rproj.user

# But do ignore these files...
Cell_type_specificity.Rmd
Cell_type_specificity.nb.html
SEAAD_MTG_MERFISH.2024-12-11.giotto_obj